/*----------------- #KRONA ONE -------------------*/
@font-face {
  font-family: "KronaOne-Regular";
  src: url("./Krona_One/KronaOne-Regular.woff2") format("woff2"),
    url("./Krona_One/KronaOne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*----------------- #SPACE GROTESK -------------------*/
@font-face {
  font-family: "Space Grotesk";
  src: url("./Space_Grotesk/SpaceGrotesk-Bold.woff2") format("woff2"),
    url("./Space_Grotesk/SpaceGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./Space_Grotesk/SpaceGrotesk-SemiBold.woff2") format("woff2"),
    url("./Space_Grotesk/SpaceGrotesk-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./Space_Grotesk/SpaceGrotesk-Regular.woff2") format("woff2"),
    url("./Space_Grotesk/SpaceGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./Space_Grotesk/SpaceGrotesk-Light.woff2") format("woff2"),
    url("./Space_Grotesk/SpaceGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./Space_Grotesk/SpaceGrotesk-Medium.woff2") format("woff2"),
    url("./Space_Grotesk/SpaceGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
